In [5]:
import json
import pandas as pd

filename = 'The_Most_Intense_Negotiation_Between_Hopscotch_Owner_and_Mark_Cuban_Shark_Tank_US_-_YouTube.json'
data = pd.read_json(filename, orient='records', lines=False)
data.head()

,author,comment,likes,age
0,@joshuajo9649,One of the sweetest entrepreneurs. It's so cut...,0,1 year ago (edited)
1,@diamond852,Mark really liked her. He even said no to nego...,0,1 year ago (edited)
2,@maanaspisati9315,"I've gotta say, her initial counter really cau...",0,1 year ago
3,@rizzmendoza8241,Who else turns on shark tank while they eat lu...,0,1 year ago
4,@e46in,"Mark: This program is great, my kids love it, ...",0,1 year ago

In [6]:
#sort by highest "likes" column
data.sort_values(by='likes', ascending=False)

,author,comment,likes,age
56,@B10023,Love how 50k more is nothing to Mark. He proba...,776,1 year ago
5,@frigityfresh,Her initial counter almost cost her everything...,712,1 year ago
15,@benchamser4127,Good for her for knowing what her business is ...,701,1 year ago
6,@haydeefm7414,"Awesome in so many ways: her, for standing her...",637,1 year ago
8,@xxtripl3thr33xx,Is this the first time I’ve seen Mark actually...,603,1 year ago
...,...,...,...,...
429,@audeliocerezo,Shark Tank inspires me.,0,7 months ago
430,@stevenfagaly3810,Anyone else shocked how touchy feely the major...,0,1 year ago
431,@iftekhar77,I’m a softy I’ll just get emotional seeing ppl...,0,1 year ago
435,@JJ_LL,They can trademark Hopscotch??????? I see laws...,0,1 year ago
876,@tashisherpa6327,"Do some historical research first, you don't k...",0,1 year ago

In [11]:
# take the top 10 rows of the comment column and print one by one
for i in range(10):
    print(data['comment'][i])
    print('\n')

One of the sweetest entrepreneurs. It's so cute to see Mark actually get excited about things like this. Like an inner child. He really wants a deal with this. You can see it in his eyes.


Mark really liked her. He even said no to negotiation then let her negotiate. On her part she's very sweet and very determined. I've watched this pitch before but I enjoyed watching it again. So wholesome.


I've gotta say, her initial counter really caught me off guard but I respect her confidence and courage


Who else turns on shark tank while they eat lunch?


Mark: This program is great, my kids love it, my dog loves it, this will create world peace

Kevin: So how do I make money?


Her initial counter almost cost her everything. I’m glad she got the deal with Mark. He’s a great human being.


Awesome in so many ways: her, for standing her ground and being confident. . . Damon, for jumping in and giving her a subtle clue and Mark for demonstrating that sometimes you can be motivated by family and not just the money.


She goofed up when she said 5% but, being a thorough entrepreneur she realized that and quickly said 10% and Mark being Mark, he does anything and everything for the kids. That's win win for both of them. Kudos to the negotiating skills even after everyone else had been out.


Is this the first time I’ve seen Mark actually give in to negotiations? “Don’t over negotiate!” Then snap accepts her counter. I love it!


It's wonderful and hilarious how she went down the line and complimented each of their drawings and they seemed to find some real joy and pride in that, we never do grow up, do we?