In [12]:
import json
import pandas as pd

filename = 'TENET_Re-Release_Trailer_-_YouTube.json'
data = pd.read_json(filename, orient='records', lines=False)
data.head()

,author,comment,likes,age
0,@RSRye,Releasing an already released movie is so Tenet,0,1 month ago
1,@NobleRaider,"Already saw the re-release, can't wait for the...",0,1 month ago
2,@RoflMaiWaffel,"They're not actually screening the movie, they...",189,1 month ago (edited)
3,@johndavidbuell,"took me months to realize that ""tenet"" is refe...",420,1 month ago
4,@rabe777,This is the real release date. Going to the ci...,0,1 month ago

In [28]:
# Sort by highest "likes" column
data = data.sort_values(by='likes', ascending=False)

# Iterate through the sorted data and print comments with the highest likes
for index, row in data.head(10).iterrows():
    print(row['comment'])
    print(row['likes'])
    print('-------------------')

I freaking love this movie, wish it got the sequel prequel it deserved
526
-------------------
An absolute underrated masterpiece
444
-------------------
took me months to realize that "tenet" is referring to the final mission (ten forward and backward, referring to the regular and inverted team's synchronized ten-minute timers)
420
-------------------
I saw this masterpiece in 2020 in one of the few counties of my state allowed to open a movie theater. It's worth seeing in IMAX. Even if you've seen it on streaming.
270
-------------------
They're not actually screening the movie, they're putting you into the turnstile and sending you back to 2020 when the film releases
189
-------------------
If they re-mix the sound and dialogue for this release, itâ€™ll definitely be a must watch in IMAX for me
174
-------------------
That last shot still gets me to this day
128
-------------------
Amazing blockbuster. Can't wait to see it again. Nolan is the genius!
92
-------------------
Tenet was absolutely amazing, the opening sequence alone was so epic, I remember watching it in cinemas back during the Covid-19 pandemic, happy more people will get the chance to watch it who missed it back then.
85
-------------------
I love this movie. The directing, the film editing, the cinematography, everything
82
-------------------

In [24]:
# create a new data with sored likes count
sorted_data = data.sort_values(by='likes', ascending=False)
sorted_data.head()

,author,comment,likes,age
20,@peterpilgrim3377,"I freaking love this movie, wish it got the se...",526,1 month ago
17,@Lumi-OF-Model,An absolute underrated masterpiece,444,1 month ago
3,@johndavidbuell,"took me months to realize that ""tenet"" is refe...",420,1 month ago
16,@velvetsky5117,I saw this masterpiece in 2020 in one of the f...,270,1 month ago
2,@RoflMaiWaffel,"They're not actually screening the movie, they...",189,1 month ago (edited)